*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

body{
    width: 100%;
    height:100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(247, 245, 245);
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}
.top-bar{
    background-color: rgba(240, 248, 255, 0.708);
    height:60px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar-container{
    /* background-color: red; */
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    width:fit-content;
    height: fit-content;
    /* background-color: blue; */
}
.nav-button{
    background-color: white;
    border-radius:15px;
    border:none;
    margin: 5px 8px;
    font-size: 16px;
    padding: 5px 4px;
    min-width:100px;
}
.inactive{
    border:1px solid rgb(247, 245, 245);
}
.active{
    border-bottom:2px solid lightseagreen;
}
.display-container{
    width: 80%;
    min-height:100px;
    margin: 5px auto 20px auto;
    height:fit-content;
    background-color: rgb(250, 250, 250);
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#primary-input{
    border:none;
    font-size: 16px;
    padding:5px;
}
#search-box{
    border:none;
    font-size: 16px;
    padding:5px;
}
.add-btn{
    margin-left:10px;
    font-size: 16px;
    padding: 2px 5px;
}

#display-all-btns{
    display: block;
}
#display-incomplete-btns{
    display: none;
}
#display-done-btns{
    display: none;
}
#display-search-btns{
    display: none;
}
.input-box{
    margin:10px 0;
    padding:6px 20px;
    border:5px solid rgba(240, 248, 255, 0.972);
}
#display-incomplete{
    display: none;
}
#display-done{
    display: none;
}
#display-search{
    display: none;
}
.card{
    background-color: white;
    border: 1px solid lightpink;
    padding: 20px 30px;
    font-size: 24px;
    margin:15px 0;
    width: fit-content;

    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.delete-btn{
    font-size: 18px;
    padding:4px 8px;
    border-radius: 10px;
    border:2px solid rgba(250, 135, 217, 0.243);
    background-color: rgba(0, 94, 255, 0.356);
}
.mark-btn{
    font-size: 18px;
    padding:4px 8px;
    border-radius: 10px;
    border:2px solid rgba(250, 135, 217, 0.243);
    background-color: rgba(0, 94, 255, 0.356);
}